<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Register</title>
</head>
<body>
	<h1>List of user</h1>
	<hr/>
	<a th:href="@{/addUser/newRegister}">Register</a>
	<a th:href="@{/addUser/login}">login</a>
	<hr />
	<div th:if="${message !=null}">
		<h3 th:text="${message}"></h3>
	</div>
	
	<table>
		<tr>
			<td>User ID</td>
			<td>name</td>
			<td></td>
		</tr>
		<tr  th:each="item : ${users}">
			<td th:text="${item.id}" ></td>
			<td th:text="${item.name}" ></td>
			<td>
				<a th:href="@{'/addUser/newRegister' + ${item.id}}">Edit</a>
				<a th:href="@{'/addUser/delete' + ${item.id}}">Delete</a>
			</td>
		</tr>
	</table>
	
</body>
</html>